DB_PASSWORD=autonex_secret
JWT_KEY=supersecretkeythatislongenough12345678
WA_NOTIFIER_API_KEY=3574cbfcb0df41bd90aa399b13f64be9f6d1b696a60e6f3452bdb6a4cc5284e7
BACKEND_WS_SECRET=wa-notifier-ws-secret-change-me
